<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td> Nom</td>
            <td> prix</td>
            <td>Marque</td>
            <td>lien</td>
        </tr>

        {% for a in products reversed %}
        <tr>
            <td>{{a.nom}}</td>
            <td>{{a.Marque}}</td>
            <td>{{a.prix}}</td>
            <td>{{a.lien}}</td>
        </tr>
    </table>
</body>
</html>